{% load vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Other elements-->
        <!--Vite dev client for hmr (will not be displayed on production)-->
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}BlogHost{% endblock %}</title>
        {% vite %}
        {% vite 'static/admin' 'main.jsx' %}
    </head>
    <body>
        <!--Page content-->
        {% block body %}
        
        {% endblock body %}
    </body>
</html>